body {
  background-color: lightblue;
  color: #0d2b3a;
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Montserrat;
  src: url(media/Montserrat-VariableFont_wght.ttf);
}

#menu-toggle {
  position: fixed;
  width: calc(2% + 0.5vw);
  min-width: 20px;
  max-width: 28px;
  top: 2%;
  right: 2%;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease;
  z-index: 11;
}

.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(122, 209, 234, 0.75);
  color: #0d2b3a;
  text-align: left;
  transition: right 0.5s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 10;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 15px 20px;
}

.menu a {
  color: #0d2b3a;
  text-decoration: none;
  font-weight: 500;
  transition: font-weight 0.25s ease;
}

.menu a:hover {
  font-weight: 750;
}

.menu.show {
  right: 0;
}
