body {
  background-color: lightblue;
  color: #0d2b3a;
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Montserrat;
  src: url(media/Montserrat-VariableFont_wght.ttf);
}

.navbox {
  width: 42px;
  height: 42px;
  background-color: #08abcf; /* #0d2b3a; */
  opacity: 50%;
  border-radius: 20px;
  margin: 6px 12px;
  position: relative;
  transition: width 0.5s ease,
  opacity 0.5s ease,
  background-color 0.5s ease,
  font-size 0.5s ease;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbox:hover {
  width: 128px;
  opacity: 90%;
  background-color: #08abcf;
}

.navbox span {
  opacity: 0%;
  transition: opacity 0.5s ease;
  position: absolute;
}

.navbox:hover span {
  opacity: 100%;
  font-size: 18px;
}

.navbox a {
  color: white;
  text-decoration: none;
}
